@using NSE.WebAPI.Core.Usuario
@using NSE.WebApp.MVC.Extensions
@inject IAspNetUser AppUser

@if (AppUser.IsAuthenticated())
{
    <div class="dropdown d-inline-block">
        <a href="#" class="icontext dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="icon icon-sm rounded-circle" src="https://s.gravatar.com/avatar/@this.HashEmailForGravatar(AppUser.ObterUserEmail())?d=mm&s=45">
            </a> <!-- iconbox // -->
        <ul class="dropdown-menu dropdown-menu-left" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 12px; left: 91px; transform: translate3d(150px, 32px, 0px);">
            <li><a class="dropdown-item" href="#">Meu Perfil</a></li>
            <li><a class="dropdown-item" href="#">Meus Pedidos</a></li>
            <li><hr class="dropdown-divider"/></li>
            <li><a class="dropdown-item" asp-controller="Identidade" asp-action="Logout">Sair</a></li>
        </ul>
    </div>
}
else
{
    <div class="widget-header">
        <small class="title text-muted">Bem vindo!</small>
        <div>
            <a asp-controller="Identidade" asp-action="Registro">Crie sua conta</a> <span> | </span>
            <a asp-controller="Identidade" asp-action="Login"> Login</a>
        </div>
    </div>
}
