@model ErrorViewModel
@{
    ViewData["Title"] = Model?.Title ?? "Ocorreu um erro";
}

<div class="container">
    <div style="padding-top: 200px; text-align: center">
@{
    if(Model is null)
    {
        <div class="row text-center">
            <h2>Ooops! Ocorreo um erro, más não se preocupe. Nosso time será avisado e iremos corrigir em breve!</h2>
        </div>
    }
    else
    {
        <div class="row text-center">
            <h2>@Html.Raw(Model.Message)</h2>
        </div>
    }
}
    </div>

</div>